body {
    font-family: sans-serif;
}

h1 {
    color: white;
    text-shadow: 2px 2px 2px #aaaaaa;
    text-align: center;
    background-color: #444444;
}

h2 {
    background-color: #ccccee;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: solid 3px #7777ee;
}

form {
    background-color: #eeeeee;
    padding-top: 3px;
    padding-left: 10px;
    padding-bottom: 3px;
    border: solid 3px #cccccc;
}

tr.week {
    background-color: #cccccc;
}

td {
    border-color: white;
    background-color: #eeeeee;
}

td.time {
    background-color: #cccccc;
}

.btn {
white-space: normal;
}