body {
    font-family: sans-serif;
    overflow: visible !important;
    background: -webkit-linear-gradient(45deg, #6ef5ff 10%, #414df8 90%);
    background: -moz-linear-gradient(45deg, #6ef5ff 10%, #414df8 90%);
    background: -ms-linear-gradient(45deg, #6ef5ff 10%, #414df8 90%);
    background: -o-linear-gradient(45deg, #6ef5ff 10%, #414df8 90%);
    background: linear-gradient(45deg, #6ef5ff 10%, #414df8 90%);
}

h1 {
    color: #eeff01;
    text-shadow: 2px 2px 2px #aaaaaa;
    text-align: center;
}

h2 {
    background-color: #ccccee;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: solid 3px #7777ee;
}

form {
    background-color: #eeeeee;
    padding-top: 3px;
    padding-left: 10px;
    padding-bottom: 3px;
    border: solid 3px #cccccc;
}

tr.week {
    background-color: #cccccc;
}

td {
    border-color: white;
    background-color: #eeeeee;
}

td.time {
    background-color: #cccccc;
}

.btn {
white-space: normal;
}