.bgimg {
    font-family: sans-serif;
    overflow: visible !important;
    background-image:url("https://iniad-stulab.s3.amazonaws.com/img/%E3%81%AF%E3%81%84%E3%81%91%E3%83%BC_%E3%82%A2%E3%83%BC%E3%83%88%E3%83%9B%E3%82%99%E3%83%BC%E3%83%88%E3%82%99+1.png");
    width:100vw;
    height:100vh;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
}

h1 {
    color: #eeff01;
    text-shadow: 2px 2px 2px #aaaaaa;
    text-align: center;
}

h2 {
    background-color: #ccccee;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: solid 3px #7777ee;
}

form {
    background-color: #eeeeee;
    padding-top: 3px;
    padding-left: 10px;
    padding-bottom: 3px;
    border: solid 3px #cccccc;
}

tr.week {
    background-color: #cccccc;
}

td {
    border-color: white;
    background-color: #eeeeee;
    height: 10vh;
}

td.time {
    background-color: #cccccc;
}

.btn {
white-space: normal;
}