<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>simulater</title>
    <link
     rel="stylesheet" type="text/css" href="css/class.css">
   
</head>

<body>
    <h1>simulater</h1>
    <h2>時間割</h2>
    <table>
        <tr class="week">
            <th>　</th>
            <th>
                月
            </th>
            <th>
                火
            </th>
            <th>
                水
            </th>
            <th>
                木
            </th>
            <th>
                金
            </th>
        </tr>
        <tr>
            <td class="time">
                <strong>1限</strong>
            </td>
            <td id="g1" >　</td>
            <td id="k1" >　</td>
            <td id="s1" >　</td>
            <td id="m1" >　</td>
            <td id="i1" >　</td>
        </tr>
        <tr>
            <td class="time">
                <strong>2限</strong>
            </td>
            <td id="g2" >　</td>
            <td id="k2" >　</td>
            <td id="s2" >　</td>
            <td id="m2" >　</td>
            <td id="i2" >　</td>
        </tr>
        <tr>
            <td class="time">
                <strong>3限</strong>
            </td>
            <td id="g3" >　</td>
            <td id="k3" >　</td>
            <td id="s3" >実習</td>
            <td id="m3" >　</td>
            <td id="i3" >　</td>
        </tr>
        <tr>
            <td class="time">
                <strong>4限</strong>
            </td>
            <td id="g4" >　</td>
            <td id="k4" >　</td>
            <td id="s4" >　</td>
            <td id="m4" >　</td>
            <td id="i4" >　</td>
        </tr>
        <tr>
            <td class="time">
                <strong>5限</strong>
            </td>
            <td id="g5" >　</td>
            <td id="k5" >　</td>
            <td id="s5" >　</td>
            <td id="m5" >　</td>
            <td id="i5" >　</td>
        </tr>
        <tr>
            <td class="time">
                <strong>6限</strong>
            </td>
            <td id="g6" class="eng">　　</td>
            <td id="k6" class="eng">　　</td>
            <td id="s6" class="eng">　　</td>
            <td id="m6" class="eng">　　</td>
            <td id="i6" class="eng">　　</td>
        </tr>
    </table>
    
   INIAD時間割: <a href="http://www.toyo.ac.jp/site/iniad/317496.html">http://www.toyo.ac.jp/site/iniad/317496.html</a>
</body>

</html>